name: Build iOS (Sideload)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS (No Codesign)
        run: |
          flutter build ios --release --no-codesign
      
      - name: Create IPA
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r Runner.ipa Payload
          
      - name: Archive IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-release-ipa
          path: Runner.ipa
